@keyframes motion {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes motionStaggered {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}