.components {
  z-index:100;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
}

#skycolor {
  overflow: hidden;
  z-index:-100;
}

#foreground {
  z-index:0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}