.components {
  z-index:100;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
}

#skycolor {
  overflow: hidden;
  z-index:-100;
}

#foreground {
  z-index:0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@keyframes motion {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes motionStaggered {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

#midground {
  z-index:-50;
  background-position: center;
  background-size: cover;
  position: absolute;
  animation: motion 60s infinite linear;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#midground2 {
  transform: translateX(100%);
  z-index:-50;
  background-position: center;
  background-size: cover;
  position: absolute;
  animation: motionStaggered 60s infinite linear;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#midground3 {
  z-index:-50;
  background-position: center;
  background-size: cover;
  position: absolute;
  animation: motion 80s infinite linear;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#midground4 {
  transform: translateX(100%);
  z-index:-50;
  background-position: center;
  background-size: cover;
  position: absolute;
  animation: motionStaggered 80s infinite linear;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#background{
  z-index:-75;
  background-position: center;
  background-size: cover;
  position: absolute;
  animation: motion 30s infinite linear;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#background2{
  transform: translateX(100%);
  z-index:-75;
  background-position: center;
  background-size: cover;
  position: absolute;
  animation: motionStaggered 30s infinite linear;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}